* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
}

body {
  font-family: "Ubuntu", sans-serif;
}

header {
  width: 100%;
  height: 15%;
  padding-top: 15px;
  background-color: #ecf0f1;
}

header h1 {
  text-align: center;
  margin: 0;
}

.container {
  position: relative;
  height: 85%;
  width: 100%;
  padding: 30px;
  background-color: #2c3e50;
}

.score-container {
  position: relative;
  margin: 0 auto;
  width: 150px;
  height: 40px;
  color: white;
}

#score {
  position: absolute;
  text-align: center;
  font-size: 30px;
  width: 100%;
}

.user {
  position: absolute;
  left: 0;
  top: 50%;
  transform: translate(-50%, -50%);
  background-color: #e14a67;
  width: 40px;
  height: 15px;
  font-size: 10px;
  padding: 2px 10px;
}

.com {
  position: absolute;
  right: 0;
  top: 50%;
  transform: translate(50%, -50%);
  background-color: #e14a67;
  width: 40px;
  height: 15px;
  font-size: 10px;
  padding: 2px 10px;
}

.button {
  width: 280px;
  position: absolute;
  top: 20%;
  left: 50%;
  transform: translateX(-50%);
}

.btn {
  width: 80px;
  height: 80px;
  margin: 5px;
  border: 5px solid #34495a;
  border-radius: 50%;
  color: #34495a;
  font-size: 40px;
  background-color: white;
  cursor: pointer;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.btn:hover {
  background-color: #34495a;
  border-color: white;
  color: white;
}

#challenge {
  position: absolute;
  top: 43%;
  left: 50%;
  width: 540px;
  height: 40%;
  transform: translateX(-50%);
  display: none;
}

#you {
  position: relative;
  width: 37.5%;
  font-size: 50px;
}

#com {
  position: relative;
  width: 37.5%;
  font-size: 50px;
}

#yourObject {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  font-size: 50px;
  padding-top: 20px;
  border: 5px solid #34495a;
  border-radius: 50px;
  color: #34495a;
  background-color: white;
  text-align: center;
}

#comObject {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 110px;
  height: 110px;
  font-size: 50px;
  padding-top: 20px;
  border: 5px solid #34495a;
  border-radius: 50px;
  color: #34495a;
  background-color: white;
  text-align: center;
}

.who {
  position: absolute;
  bottom: 5%;
  left: 50%;
  transform: translateX(-50%);
  color: white;
  font-size: 30px;
}

#result {
  position: relative;
  width: 25%;
}

#result p {
  position: absolute;
  top: 45%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 30px;
  width: 100%;
  margin: 0;
  text-align: center;
}

.green {
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 5px solid lightgreen;
  box-shadow: 0 0 10px lightgreen;
  border-radius: 50%;
  color: #34495a;
  font-size: 35px;
  background-color: white;
  cursor: pointer;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.red {
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 5px solid red;
  box-shadow: 0 0 10px red;
  border-radius: 50%;
  color: #34495a;
  font-size: 35px;
  background-color: white;
  cursor: pointer;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}

.gray {
  width: 70px;
  height: 70px;
  margin: 5px;
  border: 5px solid #292928;
  box-shadow: 0 0 10px #292928;
  border-radius: 50%;
  color: #34495a;
  font-size: 35px;
  background-color: white;
  cursor: pointer;
  outline: none;
  cursor: pointer;
  transition: all 0.3s ease;
}
